<div class="hero is-medium bgimg">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <h1 class="w3-jumbo title w3-hide-small w3-text-black">
          Hi, I'm <a class="w3-text-blue-grey">Cesi Thompson</a> and I love designing delightful digital experiences.
        </h1>
        <h1 class="w3-xxlarge title w3-hide-large w3-hide-medium">
          Hi, I'm <a class="w3-text-blue-grey">Cesi Thompson</a> and I love designing delightful digital experiences.
        </h1>

        <hr style="background-color: black;width:150px;border:5px solid black;padding: 0px" class="w3-round-large">
        <div class="w3-padding-16 w3-xlarge w3-card-4 w3-round w3-padding-large w3-black">
          <h2>Currently:</h2>
          Co-founder, Creative Lead at
          <a href="https://www.linkedin.com/company/ameliorate365/" class="w3-text-white">Ameliorate365</a> in Accra,
          Ghana.
        </div>
        <br>

        <div class="w3-xlarge">
          This is my personal website and it's still relatively new so please be gentle. It’s also a playground for me
          so I’m constantly
          trying new stuff, making changes, and probably breaking things.
        </div>
        <br>

        <div class="w3-padding-16 w3-large w3-border w3-padding w3-light-grey w3-round">
          This site was created using HTML, CSS, and JavaScript using the JavaScript Web Framework:
          <a href="https://angular.io">Angular</a>; It was carefully hand-coded in
          <a href="https://www.jetbrains.com/pycharm/">PyCharm</a> and hosted on
          <a href="https://cloud.google.com/">GCP: App Engine</a> because it was free. Deployed in a continuous
          integration fashion, because
          Facebook bragged about it
          and why not? This was done with the help of
          <a href="//github.com">GitHub</a>. The codebase is version-controlled by Git and also managed on GitHub. The
          type is set in lovely
          <a href="https://lineto.com/The+Fonts/Font+Categories/Text+Fonts/Circular/">Circular</a> and
          <a href="https://klim.co.nz/retail-fonts/tiempos-text/">Tiempos Text</a>.
        </div>
        <hr style="border: 0.5px solid grey">
        <div>
          <a href="https://twitter.com/cesinaat" class="twitter-follow-button" data-show-count="false">Follow
            @cesinaat
          </a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <p class="w3-right">&copy; 2018 Cesi Thompson. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
